@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

/* signUp template */
.perroRedondo{
    background-image: url(./img/.perroRedondo);
    position: absolute;
    width: 202px;
    height: 179px;
    left: 106px;
    top: 130px;
}

.spa{
    position: absolute;
    width: 248px;
    height: 27px;
    left: 93px;
    top: 380px;

    font-family: 'Sunflower', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

.spaBtnClass{
    font-family: 'Sunflower', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 259px;
    height: 58px;
    left: 87px;
    top: 468px;
    background: #E8F552;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
