@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap')

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SIGNUP TEMPLATE */
.perroRedondo{
    background-image: url(./img/.perroRedondo);
    position: absolute;
    width: 202px;
    height: 179px;
    left: 106px;
    top: 130px;
}

.spa{
    position: absolute;
    width: 248px;
    height: 27px;
    left: 93px;
    top: 380px;

    font-family: 'Sunflower', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

.spaBtnClass{
    font-family: 'Sunflower', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 259px;
    height: 58px;
    left: 87px;
    top: 468px;
    background: #E8F552;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* REGISTER TEMPLATE */
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.welcome{
    font-family: 'Teko', sans-serif;
    color:#8c8787;
    font-size: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.logoApp{
    display:block;
    margin:auto;
    background-image: url(./img/LOGOAPP.png);
    width: 300px; 
    height: 300px;
    

}

.creatProfile{
    font-family: 'Sunflower', sans-serif ;
    margin: 10px;
    font-size: 15px;
    display: block;
    text-align: center;
}

.googleBtn1{
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #E8DDFF;
    border-radius: 6px;
    border: 2px solid #c499f5;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.googleLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    position: absolute;
    top: 50%;
    margin-top: -50px;

}

.mailBtn1{
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 50px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #FEFFDC;
    border-radius: 6px;
    border: 2px solid #f5f573;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}


/* MAIL AND PASS TEMPLATE */

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logoApp{
    display:block;
    margin:auto;
    background-image: url(./img/LOGOAPP.png);
    width: 200px; 
    height: 200px;
    

    
}

.div2{
    display: block;
    text-align: center;

}
.penterMail{
    font-family: 'Sunflower', sans-serif;

}

.enterMail{
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #E8DDFF;
    border-radius: 6px;
    border: 2px solid #c499f5;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}
.enterMail::placeholder{
    font-family: 'Bellota', sans-serif;
    color: #959C9C;
    text-align: left;



}

.enterPass{
    font-family: 'Sunflower', sans-serif;

}

.password{
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #FEFFDC;
    border-radius: 6px;
    border: 2px solid #f5f573;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.div3{
    display: block;
    text-align: center;

}

.mustHave{
    font-family: 'Sunflower', sans-serif;
}

.characters{
    font-family: 'Sunflower', sans-serif;
    list-style:none

}

.blockMayusLetter{
    font-family: 'Sunflower', sans-serif;
    list-style:none

}

.pVerifyYrAcc{
    font-family: 'Sunflower', sans-serif;

}

.registerBtn{
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #FEFFDC;
    border-radius: 6px;
    border: 2px solid #f5f573;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* TEMPLATE LOGIN */

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.logoApp{
    display:block;
    margin:auto;
    background-image: url(./img/LOGOAPP.png);
    width: 200px; 
    height: 200px;
}

.div4{
    display: block;
    text-align: center;

}
.pLogin{
    font-family: 'Bellota', sans-serif;
    color: #696B6B;
}

.googleBtn2{
    text-decoration: none;
    padding: 10px;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Bellota', sans-serif;
    color: #959C9C;;
    background-color: #E8DDFF;
    border-radius: 6px;
    border: 2px solid #c499f5;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.checkIn{
    font-family: 'Bellota', sans-serif;
    color: #696B6B;

}

.useMail{
    text-decoration: none;
    padding: 10px;
    width: 280px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Bellota', sans-serif;
    color: #959C9C;;
    background-color: #FEFFDC;
    border-radius: 6px;
    border: 2px solid #f5f573;
    display: block;
    margin-left: auto;
    margin-right: auto;
 

}

.password3{
    font-family: 'Bellota', sans-serif;
    color: #696B6B;
}

.imgLogo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    
    
   

  

    






